<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>課題編集</title>
  </head>
  <body>
    <h1 class="mt-3">課題編集</h1>
    <form
      action="#"
      th:action="@{/issues/update/{issueId}(issueId=*{id})}"
      th:method="post"
      th:object="${issueForm}"
    >
      <input type="hidden" th:field="*{id}" />
      <div class="mb-3">
        <label for="summary" class="form-label">概要</label>
        <input
          type="text"
          class="form-control"
          th:field="*{summary}"
          th:classappend="${#fields.hasErrors('summary')} ? is-invalid"
        />
        <p
          class="invalid-feedback"
          th:if="${#fields.hasErrors('summary')}"
          th:errors="*{summary}"
        >
          (error)
        </p>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">詳細</label>
        <textarea
          class="form-control"
          rows="10"
          th:field="*{description}"
          th:classappend="${#fields.hasErrors('description')} ? is-invalid"
        ></textarea>
        <p
          class="invalid-feedback"
          th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"
        >
          (error)
        </p>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">変更</button>
        <a href="./list.html" th:href="@{/issues}" class="btn btn-secondary"
          >戻る</a
        >
      </div>
    </form>
  </body>
</html>
